.container {
    border: 2px solid black;
    margin: 30px 30px 0 30px;
    /*background: url("../Blue_striped.jpg") no-repeat;
    background-size: 100%;*/
}

.printButton {
    margin-left: 30px;
}

.firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.line {
    border: 1px solid;
}

#paySlipTable {
    margin: 0 5px 0 5px;
}